############################
# Node
############################
node_modules/
**/node_modules/

############################
# Env files
############################
.env
.env.*
**/.env
**/.env.*

############################
# Builds
############################
dist/
build/
**/dist/
**/build/

############################
# Logs
############################
logs
*.log
npm-debug.log*

############################
# Coverage
############################
coverage/

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db
